*{
    margin:0;
    padding:0;
}

body {
    background-color: white;
    color: black;
}

.mainContent {
    width: 50%;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 800px;
    cursor: crosshair;
    margin: 0 auto;
    text-align: center;
    padding-top:15px;
}

.navLogo i {
    color: black;
    background-color:#cae00d;
}

.navLinks li:nth-child(3) a{
    color:#cae00d;
}

.aboutLink {
    margin: 30px 0px 30px 0px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.garageControls button {
    margin-top:10px;
    margin-left: 5px;
}

.adminControls, .garageControls {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

/*modal styles */
.modalWrapper {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
    overflow-y:auto;
}

.modalWrapper .modal{
    margin: 0 auto;
    margin-top:10%;
    width: 50%;
    background: white;
    text-align:center;
    padding: 20px;
    
}
.modalWrapper .modal button {
    margin:20px 0 0 0;
    text-align: center;
}

.addItemModal .modal, .editItemModal .modal {
    margin-top:2%;
}

.uploadImageButton, .editItemInListButton{
    padding: 10px;
}

.garageItems {
    list-style: none;
}

.garageItemWrapper{
    text-align: left;
    border: 1px solid black;
    padding:15px;
    margin-bottom:10px;
}
.itemPrice{
    color: green;
    font-weight: bold;
}
.editItemDescription{
    padding: 10px;
}

.userImageAvatar{
    border: 1px solid black;
}
.displayname {
    padding-bottom: 15px;
}

@media screen and (max-width: 500px) {
    .navigation{
        height: 255px;
    }
    .mainContent{
        width: 85%;
    }
    .modalWrapper .modal{
        width: 80%;
    }
    #editItemImage1, #editItemImage2, #editItemImage3{
        border:none;
    }
}

@media screen and (max-width: 600px) {
    .mainContent {
        width: 85%;
    }
}