.itemDescriptionWrapper{
    padding: 0px 0px 0px 15px;
}

.navMessages{
    color:gold;
    position: absolute;
    left: 45%;
    top:7px;
    font-weight: bold;
}

.baseBoard{
    padding-left: 20px;
}

@media screen and (max-width: 500px) {
    .navigation {
        height: auto;
    }
}