*{
    margin:0;
    padding:0;
}

body {
    /* background-color: black;
    color: white; */
}

.mainContent {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 800px;
    cursor: pointer;
}

.navLogo i {
    color: black;
    background-color:#cae00d;
}

input {
    border: 1px solid black;
    padding:10px;
    margin:5px;
}

button {
    padding: 20px;
    background: black;
    color: white;
    outline: none;
    border: none;
}
button:hover {
    background: rgb(71, 71, 71);
    cursor: pointer;
}
button:active{
    background:grey;
}

.garageDoor {
    position: fixed;
    width:100%;
    height: 0%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, 1);
    z-index: 10;
    animation-name: garageDoorOpener;
    animation-duration: 1.7s;
}

@keyframes garageDoorOpener {
    from { height: 100%; opacity: 1;}
    to { height: 0%; opacity: 0;}
}

/*modal styles */
.modalWrapper {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.modalWrapper .modal{
    margin: 0 auto;
    margin-top:10%;
    width: 50%;
    background: white;
    text-align:center;
    
}
.modalWrapper .modal button {
    margin:290px 0 0 0;
    text-align: center;
}

.errorMessages {
    color: red;
}

.responseMessages {
    color: green;
}

a{
    color:rgb(71, 71, 71);
}
a:hover{
    color:black;
}
.forgotPasswordLink {
    font-size: 11pt;
}