*{
    margin:0;
    padding:0;
}

body {
    background-color: white;
    color: black;
}

.mainContent {
    width: 100%;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 800px;
    cursor: crosshair;
    margin: 0 auto;
    text-align: center;
    padding-top:5%;
}
.messageWrapper {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    margin-bottom:10px;
    text-align: left;
}
.messageWrapper:hover {
    background:black;
    color:white;
}
    .messageicon{
        width: 50px;
        height: 50px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: black;
        margin-right:10px;
        float:left;
        border: 1px solid black;
    }
    .messageFromUser {
        font-style: italic;
        font-weight: bold;
    }
    .messagePreview {
        /* loat: right;f */
          
    }
.messageRead{
    background-color: #efefef;
    opacity: .5;
}

@media screen and (min-width: 992px) {
    .mainContent {
        width: 75%;
    }
}

.navLogo i {
    color: grey;
}

.aboutLink {
    margin: 30px 0px 30px 0px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.profileWrapper button {
    margin-top:10px;
    margin-left: 5px;
}

.adminControls {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}
/* .messages{
    width: 100%;
} */
.leftMessagesTab {
    float: left;
    width: 30%;
    background:#ccc;
    padding:10px;
}
.chatMessagesTab {
    float:left;
    width: 60%;
    background: #666; 
    height: auto;
    padding:10px;
}
    .chatDetails {
        position: relative;
        padding: 10px;
        background: #efefef;
        height: 500px;
        padding-bottom: 0;
        /* overflow: scroll; */
        
    }
    .responseInputField {
        width: 70%;
    }
    .chatText {
        position: absolute;
        bottom: 4%;
        height: 470px;
        overflow-y: scroll;
    }
    .chatText ul{
        list-style: none;
    }
    .chatText div {
        padding: 8px;
        margin: 8px;
        text-align: left;
    }
    .leftMessage {
        background-color:rgb(175, 175, 175);
    }
    .rightMessages {
        /* float: right;
        font-style: italic; */
        text-align: right !important;
        background: #ccc;
    }
    .chatText div p {
        /* float: left; */
        /* padding-left:3px; */
    }
        .chatAvatar {
            float: left;
        }
        .rightMessages .chatAvatar {
            float: right;
        }
/*modal styles */
.modalWrapper {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.modalWrapper .modal{
    margin: 0 auto;
    margin-top:10%;
    width: 50%;
    background: white;
    text-align:center;
    padding: 20px;
    
}
.modalWrapper .modal button {
    margin:20px 0 0 0;
    text-align: center;
}

.sendMessageButton{
    margin-bottom: 15px;
}
