*{
    margin:0;
    padding:0;
}

body {
    background-color: white;
    color: black;
}

.mainContent {
    width: 90%;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 800px;
    cursor: crosshair;
    margin: 0 auto;
    text-align: center;
    padding-top:15px;
}
.messageWrapper {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    margin-bottom:10px;
    text-align: left;
    color:black;
}
.userEmailAddress {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    font-weight: bold;
}
.messageWrapper:hover {
    background:#ccc !important;
    color:black !important;
}
    .messageicon{
        width: 50px;
        height: 50px;
        /* background-color: rgba(0, 0, 0, 0.5); */
        background-color: black;
        margin-right:10px;
        float:left;
        border: 1px solid black;
        overflow: hidden;
    }
    .leftPanelAvatar {
        float: left;
    }
    .messageFromUser {
        font-style: italic;
        font-weight: bold;
        position: absolute;
        margin-left: 60px;
        background: red;
        height: 50px;
        width: 50px;
        /* font-size: 80%; */
    }
    .messagePreview {
        /* overflow: hidden;
        text-overflow: clip; */
        display: none;
    }
.messageRead{
    background-color: #efefef;
    opacity: .5;
}

@media screen and (max-width: 600px) {
    .mainContent {
        width: 90%;
    }
    .leftMessagesTab{
        width: auto !important;
        float: none !important;
    }
    .chatMessagesTab{
        float: none !important;
        width: auto !important;
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .navigation{
        height: 255px;
    }
    
    /* .mainContent{
        width: 85%;
    } */
    .messagesControls{
        width: 80% !important;
    }
}

.navLogo i {
    color: black;
    background-color:#cae00d;
}
.navLinks li:nth-child(2) a{
    color:#cae00d;
}

.aboutLink {
    margin: 30px 0px 30px 0px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.messagesControls button {
    margin-top:10px;
    margin-left: 5px;
}

.messagesControls {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    margin:0 auto;
    width:45%;
}
/* .messages{
    width: 100%;
} */
.leftMessagesTab {
    float: left;
    width: 30%;
    background: #efefef;
    padding:10px;
    border: 1px solid black;
    color:black;
}
.chatMessagesTab {
    float:right;
    width: 60%;
    background: black; 
    height: auto;
    padding:10px;
}
.chatMessagesTab h4 {
    color:white;
}
    .chatDetails {
        position: relative;
        padding: 10px;
        padding-bottom:200px;
        background: #efefef;
        height: 50px;
        padding-bottom: 0;
        /* overflow: scroll; */
        
    }
    .responseInputField {
        width: 70%;
    }
    .chatText {
        position: absolute;
        bottom: 4%;
        height: 369px;
        width: 98%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom:120px;
        display: none;
    }
    .chatText ul{
        list-style: none;
    }
    .chatText div {
        padding: 8px;
        margin: 8px;
        text-align: left;
    }
    .leftMessage {
        background-color:white;
        border:1px solid black;
    }
    .rightMessages {
        /* float: right;
        font-style: italic; */
        text-align: right !important;
        background: #ccc;
        border:1px solid black;
    }
    .chatText div p {
        /* float: left; */
        /* padding-left:3px; */
    }
        .chatAvatar {
            float: left;
            overflow: hidden;
            width: 50px;
            height: 50px;
        }
        .chatAvatar img {
            border: 1px solid black;
        }
        .rightMessages .chatAvatar {
            float: right;
        }
/*modal styles */
.modalWrapper {
    position: fixed;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.modalWrapper .modal{
    margin: 0 auto;
    margin-top:10%;
    width: 50%;
    background: white;
    text-align:center;
    padding: 20px;
    
}
.modalWrapper .modal button {
    margin:20px 0 0 0;
    text-align: center;
}

/* .sendMessageButton{
    margin-bottom: 15px;
} */
.sendMessageContentWrapper{
    position: absolute;
    bottom: 0;
    background: white;
    display: none;
    width:98%;
}
.userImageAvatar{
    border: 1px solid black;
}
.displayname {
    padding-bottom: 15px;
}