*{
    margin:0;
    padding:0;
}

body {
    background-color: white;
    color: black;
}

.mainContent {
    width: 50%;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 800px;
    cursor: crosshair;
    margin: 0 auto;
    text-align: center;
    padding-top:10%;
    animation-name:fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

.navLogo i {
    color: black;
    background-color:#cae00d;
}

.aboutLink {
    margin: 30px 0px 30px 0px;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}